@page "/"
@using StreamWorks.Api.Twitch.Controllers.EventSubs
@using StreamWorks.Api.Twitch.Controllers.User
@using StreamWorks.Api.Twitch.Models.User
@using StreamWorks.Helpers.Twitch

@using TwitchLib.Api.Helix.Models.Users.GetUsers
@using TwitchLib.EventSub.Core.SubscriptionTypes.Channel

@* Fires OnInitilaize 2x and second time doesnt get user from HttpContext *@
@rendermode InteractiveServer

@inject ILogger<Home> Logger
@inject AuthenticationStateProvider AuthProvider
@inject UserManager<StreamWorksUserModel> UserManager
@* @inject SignInManager<StreamWorksUserModel> SignInManager *@
@inject NavigationManager NavManager
@* @inject IdentityUserAccessor UserAccessor *@
@inject IStreamWorksUserData userData
@inject IConfiguration config
@inject IHttpClientFactory clientFactory
@inject TwitchAPI twitchApi;
@inject ITwitchSignInHelpers twitchSignInHelpers
@inject TwitchUserController twitchInternalUserApi  
@inject TwitchEventSubController twitchInternalEventApi

@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<AuthorizeView Policy="Admin">

    <h2>Twitch Connection Data</h2>

    <Button class="btn btn-dark" @onclick="RevokeTwitchToken">Revoke Twitch Token</Button>

    <div class="row">
        <div class="col">
            @if (twitchUserData is not null && twitchUserData.Count() > 0)
            {
                <h3>@twitchUserData.First().DisplayName</h3>
                <h4>@twitchUserData.First().Id</h4>
                <p>@twitchUserData.First().BroadcasterType</p>
                <p>@twitchUserData.First().Description</p>
            }
        </div>
    </div>

    @if (eventSubSubscriptions is not null)
    {
         <div class="row">
            <div class="col">
                <h2>Subscription Info</h2>
                <h4>@eventSubSubscriptions.TotalCost Points out of @eventSubSubscriptions.MaxTotalCost Points Used</h4>
                <h3>Current Subscriptions</h3>
                @foreach (var subscription in eventSubSubscriptions?.Subscriptions)
                {
                    subscriptions.Add(subscription);
                }    
            </div>
        </div>   

        <div class="row">
            <div class="col">
                <h3>Chat Messages</h3>
                @if (twitchMessages is not null)
                {
                    @foreach (var message in twitchMessages)
                    {
                        <p>@message</p>
                    }
                }
            </div>
        </div>
    }

</AuthorizeView>

@code {
    private StreamWorksUserModel loggedInUser = default!;
    private ClaimsPrincipal? loggedInUserAuthState;
    private List<GetUserDataModel>? twitchUserData = new();
    private GetUsersResponse? getUserResponse;

    private int tryCount = 3;
    private bool mustRefreshToken = false;
    private bool accessCodeValid = false;

    private string ClientId = "";
    private string AccessToken = "";

    private string name = "kuri9";
    private string UserId = "";
    private string? BroadcasterId = "";

    private List<ChannelChatMessage>? twitchMessageList = new();
    private List<string>? twitchMessages = new();
    private ChannelChatMessage twitchMessage = new();

    private HubConnection? twitchHub;
    TwitchConnectionModel twitchConnectionData = new();
    IList<Claim> claims = new List<Claim>();

    private GetEventSubSubscriptionsResponse? eventSubSubscriptions;
    private List<EventSubSubscription> subscriptions = new();

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        twitchHub = new HubConnectionBuilder()
            .WithUrl(NavManager.ToAbsoluteUri("/twitchhub"))
            .WithAutomaticReconnect()
            .Build();

        // TWITCH HUB ACTIONS ==============>>
        // Twitch Chat Message Received
        twitchHub.On<ChannelChatMessage>("ChatMessageReceived", (message) => 
        { 
            Logger.LogInformation($"Message on Home Page: From {message.ChatterUserName} : {message.Message.Text}");
            AddTwitchMessage(message);
        });

        twitchHub.On<GetEventSubSubscriptionsResponse>("GetSubscribedEvents", (subscriptionData) =>
        {
            eventSubSubscriptions = subscriptionData;
        });

        // =================================>>

        await twitchHub.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RunSetup();
        }
    }

    public async Task RunSetup()
    {
        // Check if user is logged in. Set loggedInUser if they are.
        await CheckLoggedInUser();

        if (loggedInUser?.Logins.Where(l => l.LoginProvider == "TwitchLogin").Count() >= 1)
        {
            // If the loggedInMember has a Twitch Login, set up the Twitch User
            SetupTwitchUser();

            // Then try connecting to API to test the Access Token
            while (tryCount > 0)
            {
                Logger.LogWarning($"Current Try: {tryCount}");
                tryCount--;

                // Try to get the User Data from Twitch API
                var result = await GetTwitchUserData(name, AccessToken);

                // If we get the data, break the loop
                if (result == true)
                {
                    accessCodeValid = true;
                    Logger.LogInformation($"User Data Received: {twitchUserData?.First().DisplayName}");
                    break;
                } 
                else if (result == false && mustRefreshToken == true)
                {
                    // If we don't get the data and must refresh token, try to refresh the token
                    Logger.LogWarning($"Trying Token Refresh....");
                    accessCodeValid = false;

                    // Try to refresh the Token
                    await RefreshTwitchToken();

                    Logger.LogInformation($"Token Refreshed. {loggedInUser?.GetToken("TwitchLogin", "access_token").Value}");

                    // If the token is not null, set the new token
                    if (loggedInUser?.Tokens is not null)
                    {

                        AccessToken = loggedInUser.Tokens.Where(t => t.Name == "access_token").First().Value;
                        Logger.LogInformation($"After Set User, {loggedInUser.UserName}'s Access Token: {AccessToken}");
                    }

                    // No more ned to refresh
                    mustRefreshToken = false;
                }
                else
                {
                    // Token is invalid
                    accessCodeValid = false;
                    Logger.LogError("There was an error with the API call.");
                    break;
                }
            }

            // If we have the data, set up the Twitch API
            tryCount = 3;
            if (accessCodeValid == true)
            {
                await TwitchApiSetup();
            }
        }
        else
        {
            Logger.LogError("This User doesn't have a Twitch account connected..");
        }
    }

    public async Task CheckLoggedInUser()
    {
        if (loggedInUser is null)
        {
            Console.WriteLine($"No logged in user..");

            if (AuthProvider is not null)
            {
                Console.WriteLine($"AuthProvider ready!");

                var authState = await AuthProvider.GetAuthenticationStateAsync();

                if (authState.User.Identity is not null && authState.User.Identity.IsAuthenticated == true)
                {
                    loggedInUserAuthState = authState.User;

                    foreach (var identity in loggedInUserAuthState.Identities)
                    {
                        identity.Claims.ToList().ForEach(c => Console.WriteLine(c.Value));
                    }

                    loggedInUser = await AuthProvider.GetUserFromAuth(userData);
                    Logger.LogInformation($"Current LoggedInUser: {loggedInUser.UserName}");
                }
                else
                {
                    Logger.LogError($"Please login..");
                    return;
                }
            }
        }
        else
        {
            Logger.LogInformation($"Current LoggedInUser: {loggedInUser.UserName}");
        }
    }

    public void SetupTwitchUser()
    {
        if (loggedInUser?.Logins.Where(l => l.LoginProvider == "TwitchLogin").Count() > 0)
        {
            Logger.LogInformation($"Setting Twitch Connection");

            SetTwitchConnectionData();

            if (loggedInUser?.Tokens is not null)
            {
                AccessToken = loggedInUser.Tokens.Where(t => t.Name == "access_token").First().Value;
                Logger.LogInformation($"After Set User, {loggedInUser.UserName}'s Access Token: {AccessToken}");
            }

            ClientId = twitchConnectionData.ClientId;
        }
    }

    private void SetTwitchConnectionData()
    {
        var refreshToken = loggedInUser?.GetToken("TwitchLogin", "refresh_token").Value;
        Logger.LogInformation($"Refresh Token Check and Set: {refreshToken}");

        UserId = loggedInUser.Logins.Where(l => l.LoginProvider == "TwitchLogin").First().ProviderKey;
        Logger.LogInformation($"User Twitch ID is: {UserId}");

        BroadcasterId = config["Twitch:DefaultBroadcaster"];
        Logger.LogInformation($"Twitch BroadcasterID is: {BroadcasterId}");

        if (refreshToken is not null)
        {
            twitchConnectionData.ClientId = config["Twitch:ClientId"];
            Logger.LogInformation($"Client ID: {twitchConnectionData.ClientId}");

            twitchConnectionData.ClientSecret = config["Twitch:ClientSecret"];
            Logger.LogInformation($"Client Secret: {twitchConnectionData.ClientSecret}");

            twitchConnectionData.RedirectUri = NavManager.Uri.ToString();
            Logger.LogInformation($"Redirect URI: {twitchConnectionData.RedirectUri}");

            twitchConnectionData.Scopes = [];

            twitchConnectionData.RefreshToken = refreshToken;
            Logger.LogInformation($"Refresh Token: {twitchConnectionData.RefreshToken}");
        }
        else
        {
            Logger.LogError($"Refresh Token was null!");
        };
    }

    private async Task<bool> GetTwitchUserData(string name, string accessToken)
    {
        Logger.LogInformation("Getting Twitch User Data...");

        getUserResponse = await twitchInternalUserApi.GetTwitchUserData(name, accessToken);
        await Task.Delay(1000);

        if (getUserResponse is not null)
        {
            Logger.LogInformation($"Response not null!");

            if (getUserResponse.Users.Count() > 0)
            {
                Logger.LogInformation($"User Count is greater than 0!");

                foreach (var user in getUserResponse.Users)
                {
                    var userData = new GetUserDataModel();

                    userData.DisplayName = user.DisplayName;
                    userData.Id = user.Id;
                    userData.BroadcasterType = user.BroadcasterType;
                    userData.Description = user.Description;

                    twitchUserData?.Add(userData);
                }
                Logger.LogInformation($"User Data: {twitchUserData?.First().DisplayName}");
                StateHasChanged();

                return true;
            }
            else
            {
                Logger.LogError("Result didn't contain any Users");
                return false;
            }
        }
        else
        {
            mustRefreshToken = true;
            Logger.LogError("Failed to get User Data. Refreshing token!");
            return false;
        }
    }

    private async Task RefreshTwitchToken()
    {
        Logger.LogInformation($"Starting Refresh Token...");

        var refreshedToken = await twitchApi.Auth.RefreshAuthTokenAsync(twitchConnectionData.RefreshToken,
                twitchApi.Settings.Secret = twitchConnectionData.ClientSecret);

        if (refreshedToken is not null)
        {
            Logger.LogInformation($"Refresh Token Response not null!");
            try
            {
                var expiresAt = DateTimeOffset.Now.AddSeconds(refreshedToken.ExpiresIn).ToString();
                Logger.LogInformation($"Received Token: {refreshedToken.AccessToken}");

                await UserManager.SetAuthenticationTokenAsync(loggedInUser, "TwitchLogin", "access_token", refreshedToken.AccessToken);
                await UserManager.SetAuthenticationTokenAsync(loggedInUser, "TwitchLogin", "refresh_token", refreshedToken.RefreshToken);
                await UserManager.SetAuthenticationTokenAsync(loggedInUser, "TwitchLogin", "expires_at", expiresAt);

                Logger.LogInformation($"Current LoggedInUser Token: {loggedInUser?.Tokens.Where(t => t.Name == "access_token").First().Value}");
            }
            catch (Exception ex)
            {
                Logger.LogError($"Failed to update user tokens: {ex.Message}");
            }
        }
    }

    public async Task TwitchApiSetup()
    {
        // Call API as a test
        if (AccessToken is not null)
        {
            // Setup EventSub with data after testing
            Logger.LogInformation("Setting up EventSub");

            await twitchHub.SendAsync("SetupConnectionRequest", AccessToken, UserId, BroadcasterId);
            await twitchHub.SendAsync("StartServiceRequest");
        }
        else
        {
            Logger.LogWarning($"Access Token was null!");
        }
    }

    private async Task RevokeTwitchToken()
    {
        Logger.LogInformation("Revoking Twitch Token");
        // https://id.twitch.tv/oauth2/revoke
        await clientFactory.CreateClient().PostAsync("https://id.twitch.tv/oauth2/revoke",
        new FormUrlEncodedContent(
            new Dictionary<string, string>
                {
                    ["client_id"] = ClientId,
                    ["token"] = AccessToken
                }
        ));
    }

    public async ValueTask DisposeAsync()
    {
        if (twitchHub is not null)
        {
            await twitchHub.DisposeAsync();
        }
    }

    private async Task GetEventSubscriptions()
    {
        // await twitchHub.SendAsync("SubscriptionsRequest");
        // StateHasChanged();
        eventSubSubscriptions = await twitchInternalEventApi.GetEventSubSubscriptions(UserId, ClientId, AccessToken);
    }

    private void AddTwitchMessage(ChannelChatMessage message)
    {
        twitchMessageList?.Add(message);
        var encodedMessage = $"{message.ChatterUserName}: {message.Message.Text}";
        twitchMessages?.Add(encodedMessage);
        InvokeAsync(StateHasChanged);
    }
}